# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
.next/
out/
.vercel/
.netlify/
.DS_Store

# Configuración de entorno
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias de VSCode
.vscode/

# Archivos de construcción
build/
